h2{
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.5rem;
}
.cards_img{
    height: 220px;
    width: 220px;

    &:hover{
        transform: scale(1.3);
        transition: transform ease 300ms;

       
    
    }
    
}

    .cardtext>p{
        display:block ;
        position: relative;
        color: red;
        font-size: 200px;
    }


.cardslist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;
   
    &:hover{
        
    }
}
