footer{
  
    text-align: center;
    padding: 20px;

    >h2,p{
    // color: rgba(228, 20, 20, 0.116);
    letter-spacing: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    font-weight: bold;
   
    
    }
}